ASPNETCORE_URLS=http://127.0.0.1:5102
ConnectionStrings__MongoDb=
MongoDb__DatabaseName=spotibuds_music_demo
AzureStorage__ConnectionString=
AzureStorage__PublicBaseUrl=http://127.0.0.1:5102
Jwt__Secret=
Jwt__Issuer=spotibuds-local
Jwt__Audience=spotibuds-demo
ServiceAuth__Secret=
IdentityService__BaseUrl=http://127.0.0.1:5101
Cors__AllowedOrigins=http://127.0.0.1:3100
